# .gitignore pour projet Python/Django

 
# Environnement virtuel
venv/
env/
ENV/
 
# Fichiers Python
*.pyc
__pycache__/
*.pyo
*.pyd
 
# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
 
# Variables d'environnement
.env
.env.local
 
# IDE
.vscode/
.idea/
*.swp
*.swo
 
# OS
.DS_Store
Thumbs.db